.info {
  background-color: var(--fifth-color);
  padding: 40px;
  width: fit-content;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1.5625rem;
  img {
    width: 18.75rem;
    height: 18.75rem;
}
  .boxOne,
  .boxTwo {
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-between;
    h6 {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .boxThree {
    text-align: center;
    margin-top: 1.25rem;
    h6 {
      font-size: 18px;
      font-weight: bold;
    }
  }
  a {
    display: block;
    margin-top: 1.25rem;
    text-decoration: none;
    background-color: var(--main-color);
    width: fit-content;
    color: white;
    padding: 0.625rem 1.875rem;
    border-radius: 0.75rem;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
  }
}
