* {
  font-family: var(--font-Cairo);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-Cairo);
}
:root {
  --main-transition: 0.5s;
  --main-color: #3640ce;
  --second-color: #2c3583;
  --third-color: #65bcfb;
  --fourth-color: #dfecff;
  --fifth-color: #f6f6f6;
  --section-head-color: #1a1e4c;
  --second-background:#e1eeff;
  --text-color: #808080;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100%;
  /* background: #f6f6f6; */
}
.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

input,
button {
  border: none;
  outline: none;
  border-radius: 0.3rem;
}
input {
  border: 1px solid var(--text-color);
  background: none;
}
.formTitle {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
  letter-spacing: 3px;
  color: var(--main-color);
}
.textUnderLine {
  color: var(--main-color);
  text-transform: capitalize;
  text-decoration: underline wavy;
  font-style: italic;
}
.pageHeader {
  position: relative;
  width: fit-content;
  margin: auto;
  text-transform: capitalize;
  color: var(--main-color);

  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    background-color: var(--main-color);
    width: 100%;
    height: 2px;
  }
}

.landing,
.journey,.articlesSection {
  padding: 2rem 0;
}
