div {
  .heading {
    text-align: center;
    margin-top: 0.9375rem;
    color: var(--main-color);
  }
  .buttons {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-around;
    gap: 1.25rem;
  }
  .buttons button {
    width: 12.5rem;
    height: 3.125rem;
    cursor: pointer;
    border: none;
    border-radius: 1.25rem;
    font-weight: bold;
    font-size: 1.125rem;
    transition: 0.3s;
  }

  .buttons button:hover {
    opacity: 0.9;
  }

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 2.1875rem;
  }

  .cardContent {
    flex-basis: calc(50% - 25px);
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1.875rem;
    border-radius: 0.625rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    text-align: center;
    transition: all 0.3s ease-in-out;
    display: flex;
    .cardTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 20px;
      p {
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        text-align: left;
        line-height: 15px;
      }
      svg {
        position: absolute;
        font-size: 20px;
        cursor: pointer;
        margin-left: auto !important;
        transition: color 0.3s ease;
        right: 0;
        margin: 0.5rem 0.9375rem 0 0;
      }
    }
  }
  .publishedDate {
    position: absolute;
    width: calc(100% - 12.5rem) !important;
    display: flex;
    justify-content: space-between;
    margin: 1.25rem 0 0 1.25rem;
    padding-right: 0.625rem;
    a {
      display: block;
      background-color: var(--main-color);
      color: white;
      padding: 10px 20px;
      border-radius: 0.75rem;
      -webkit-border-radius: 0.75rem;
      -moz-border-radius: 0.75rem;
      -ms-border-radius: 0.75rem;
      -o-border-radius: 0.75rem;
    }
  }
}
.loading {
  margin: 1.25rem;
  font-size: 1.875rem;
  color: var(--main-color);
  font-weight: bold;
}
@media (max-width: 768px) {
  .buttons {
    margin: 1.25rem 0.9375rem;
  }

  .notFound {
    position: relative;
    right: 20%;
  }
  .publishedDate {
    flex-direction: column;
    margin: 0 0 0 0.625rem !important;
    a {
      padding: 5px !important;
    }
  }
}
@media (max-width: 1023px) {
  .content {
    display: flex;
    .cardContent {
      flex-basis: 100%;
    }
  }
}
