.detail {
  .articleDetails {
    display: flex;
    gap: 20px;
    margin-top: 22px;
    > div {
      flex-basis: 50%;
      padding: 1.875rem 2.5rem;
      h4 {
        font-weight: bold;
        color: var(--main-color);
        font-size: 25px;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
  .authorAndRef {
    display: flex;
    padding: 1.875rem 2.5rem;
    > div {
      flex-basis: 50%;
      &:last-child {
        padding-left: 2.5rem;
      }
    }
  }
}
@media (max-width: 768px) {
  .detail {
    .articleDetails {
      flex-direction: column;
      > div {
        padding: 10px;
      }
    }
  }
  .authorAndRef {
    padding: 10px !important;
    flex-direction: column;
    > div {
      &:last-child {
        padding: 0 !important;
      }
    }
    .ref {
      padding-right: 1.5625rem;
    }
  }
  .cardContent {
    flex-direction: column !important;
    margin: auto;
    padding-bottom: 2.5rem !important;
    img {
      width: 50%;
      height: 50%;
    }
    .cardTitle {
      margin-top: 15px;
    }
    .publishedDate {
      p {
        width: 100%;
        text-align: right !important;
      }
    }
  }
}
