.profile {
  margin-top: 3.125rem;
  display: flex;
  gap: 6.25rem;
  div {
    flex-basis: 50%;
  }
  .sidebar {
    flex-basis: 30% !important;
    ul {
      li.active {
        background-color: var(--main-color);
        svg {
          color: white;
        }
        .iconAndText {
          span {
            color: white;
          }
        }
      }
    }
  }
}
@media(max-width: 1286px) {
  .profile {
    .sidebar {
      flex-basis: 50%;
    }
  }
}
@media(max-width: 900px) {
  .profile {
    flex-direction: column;
    margin-bottom: 1.875rem;
  }
}